html {
    margin: 0;
    padding: 0;
}

body {
    width: calc(100vw - 50px);
    height: calc(100vh - 50px);
    background-color: blueviolet;
    margin: 0 auto;
}

@media screen and (max-width:600px) and (orientation:portrait) {
    body {
        background-color: aqua;
    }
}

@media (orientation:landscape) {
    body {
        background-color: brown;
    }
}